body {
  background-image: url("../assets/About us bg.jpg");
  text-align: center;

}
.logo{
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 0px 1200px 0px 0px;
}
 .header-text{
  display: inline-block;
  text-align: center;
  margin: 0px 0px 0px 50px;
  color: rgb(5, 5, 5);
  font-size: 35px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(156, 156, 156);
  border-radius: 8px;
 }
 .right button{
  margin-top: 20px;
    border: 2px soild rgb(199, 81, 81);
    background-color:rgb(253, 196, 9, 0) ;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}

    .right{
       position: absolute;
       right: 34px;
       top: 22px;
       display: inline-block;      
}
.header-1 {
  list-style-type: none;
  margin-left: 40%;
  margin-right: 40%;
  padding-left: 20px;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 5%;
}

.heading-1{
  color: black;
 font-style: bold;
}
.nav-home {
  color: black;
  }
  .nav-home:hover{
    color: aliceblue;
  }
.nav-about {
  color: black;
} 
.nav-about:hover {
  color: aliceblue;
}
.nav-contact {
  color: black;
} 
.nav-contact:hover {
  color: aliceblue;
}
footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #fdfdfd;
  margin-top: 50px;
}

.container {
  max-width: 100%x;
  margin: 0 auto;
}