body{
  background-image: url("../assets/contact us bg.jpg");
  color: antiquewhite; 
}
.logo{
  display: inline-block;
  height: 150px;
  width: 150px;
}
 .header-text{
  display: inline-block;
  text-align: center;
  margin: 0px 0px 0px 250px;
  color: rgb(5, 5, 5);
  font-size: 35px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(156, 156, 156);
  border-radius: 8px;
 }
 .right button{
  margin-top: 20px;
    border: 2px soild rgb(199, 81, 81);
    background-color:rgb(253, 196, 9, 0) ;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}

    .right{
       position: absolute;
       right: 34px;
       top: 22px;
       display: inline-block;      
}
.header-1 {
  list-style-type: none;
  margin-left: 40%;
  margin-right: 40%;
  padding-left: 20px;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 5%;
}

.nav-bar{
  text-align: center;
}

.nav-home {
  color: rgb(255, 255, 255);
  text-align: center;
  }

  .nav-home:hover{
    color: #000000;
    text-align: center;
  }

.nav-about {
  color: rgb(255, 255, 255);
  text-align: center;
} 

.nav-about:hover {
  color: #000000;
  text-align: center;
}
.nav-contact {
  color: rgb(255, 255, 255);
  text-align: center;
} 

.nav-contact:hover {
  color: #000000;
  text-align: center;
}

.heading-1{
  text-align: center;
}

.data-1{
  text-align: center;
}

.para-1{
  text-align: center;
}

.para-2{
  text-align: center;
}

.para-3{
  text-align: center;
}
footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 50px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
