body{
  background-image: url("../assets/home page.avif");
  background-position: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
}

.logo{
  display: inline-block;
  height: 150px;
  width: 150px;
}
 .header-text{
  display: inline-block;
  text-align: center;
  margin: 0px 0px 0px 250px;
  color: rgb(5, 5, 5);
  font-size: 35px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(156, 156, 156);
  border-radius: 8px;
 }
 .right button{
  margin-top: 20px;
    border: 2px soild rgb(199, 81, 81);
    background-color:rgb(253, 196, 9, 0) ;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}

    .right{
       position: absolute;
       right: 34px;
       top: 22px;
       display: inline-block;      
}
.header-1 {
  list-style-type: none;
  margin-left: 40%;
  margin-right: 40%;
  padding-left: 20px;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 5%;
}

.heading-1{
  color:  rgb(156, 143, 143);
  font-style: bold;
  display: flex;
  flex-direction: column;
  
}
}
.nav-home {
  color: rgb(156, 143, 143);
  }
  .nav-home:hover{
    color: rgb(0, 112, 211);
  }
.nav-about {
  color: rgb(156, 143, 143);
} 
.nav-about:hover {
  color: rgb(0, 112, 211);
}
.nav-contact {
  color: rgb(156, 143, 143);
} 
.nav-contact:hover {
  color: rgb(0, 112, 211);
}

.heading-category {
 display: inline-block;
  color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;  
}
.image-row {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.text-row {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 73%;
  margin-left: 14%;
}
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #777777;
  margin-top: 50px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}





